---
import Slide from "../../components/Slide.astro";
import cloudflare from "../../assets/screenshots/screenshot-cloudflare.jpeg";
import vercel from "../../assets/screenshots/screenshot-vercel.jpeg";
import netlify from "../../assets/screenshots/screenshot-netlify.jpeg";
import aws from "../../assets/screenshots/screenshot-aws.jpeg";
---

<Slide title="Qui en parle ?" subtitle="Cloud Providers" firstOfGroup>
  <div class="pictures">
    <img
      src={cloudflare}
      alt="screenshot of cloudflare blog introducing workers"
    />
    <img
      class="fragment fade-in"
      src={vercel}
      alt="screenshot of vercel edge functions"
    />
    <img
      class="fragment fade-in"
      src={netlify}
      alt="screenshot of netlify edge page"
    />
    <img class="fragment fade-in" src={aws} alt="screenshot of aws edge page" />
  </div>
</Slide>

<style lang="scss">
  .pictures {
    position: relative;
    height: 100%;
  }

  img {
    position: absolute;
    inset: 0;
    margin: auto;
    height: 90%;
    box-shadow: var(--shadow-elevation-high);
    border-radius: 8px;

    &:nth-of-type(2) {
      transform: rotate(2deg);
    }

    &:nth-of-type(3) {
      transform: rotate(-1deg);
    }

    &:nth-of-type(4) {
      transform: rotate(1deg);
    }
  }
</style>
