---
import particlesVideo from "../../assets/backgrounds/particles.mp4";
import MainTitle from "../../components/MainTitle.astro";
---

<section
  data-autoplay
  data-background-video={particlesVideo}
  data-background-video-loop
  data-background-video-muted
>
  <MainTitle>
    The <b>Future</b> of the <b>Web</b>
    <br /><small>is on the</small><br />
    ✨ <strong>Edge</strong> ✨
  </MainTitle>
</section>
