---
export interface Props {
  /**
   * Title of the page
   */
  title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/slides/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>

  <body>
    <slot />

    <script>
      import Reveal from "reveal.js";

      Reveal.initialize({
        transition: "none",
        history: true,
        controls: false,
      });
    </script>
  </body>
</html>

<style lang="scss" is:global>
  @import "reveal.js/dist/reveal.css";

  .reveal {
    &-viewport {
      background-color: #222 !important;
      color: white !important;
      font-family: Rubik, ui-sans-serif, system-ui, -apple-system,
        BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
        sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
        Noto Color Emoji;
    }

    .progress {
      color: hsl(31deg 100% 51%) !important;
    }
  }

  :root {
    /* https://www.joshwcomeau.com/shadow-palette/ */
    --shadow-color: 0deg 0% 0%;
    --shadow-elevation-high: 0.2px 0.2px 0.4px hsl(var(--shadow-color) / 0.01),
      1.1px 1.3px 2.4px -0.1px hsl(var(--shadow-color) / 0.02),
      1.9px 2.3px 4.3px -0.1px hsl(var(--shadow-color) / 0.03),
      2.8px 3.4px 6.3px -0.2px hsl(var(--shadow-color) / 0.05),
      3.9px 4.8px 8.9px -0.3px hsl(var(--shadow-color) / 0.06),
      5.5px 6.7px 12.4px -0.3px hsl(var(--shadow-color) / 0.07),
      7.7px 9.4px 17.4px -0.4px hsl(var(--shadow-color) / 0.08),
      10.7px 13.1px 24.2px -0.4px hsl(var(--shadow-color) / 0.09);
  }

  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  h1,
  h2 {
    filter: drop-shadow(0 0 10px black);
  }

  h2 {
    font-size: 3rem;
    margin-bottom: 0;
  }

  .card {
    position: relative;
    background: hsla(0deg 0% 0% / 0.5);
    padding: 50px 150px;
    border-radius: 16px;
    box-shadow: var(--shadow-elevation-high),
      inset 1px 1px 0px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
  }
</style>
