---
import Card from "../../components/Card.astro";
import Slide from "../../components/Slide.astro";
---

<Slide title="Sans oublier..." subtitle="d'autres fonctionnalités" firstOfGroup>
  <Card>
    <ul>
      <li>Redirections</li>
      <li class="fragment">Authentification</li>
      <li class="fragment">A/B Testing</li>
      <li class="fragment">Feature Flipping</li>
      <li class="fragment">API Rate Limiting</li>
      <li class="fragment">...</li>
    </ul>
  </Card>
</Slide>

<style>
  ul {
    text-align: left;
    font-size: 2rem;
    line-height: 2;
  }
</style>
