---
import Card from "../../components/Card.astro";
import Slide from "../../components/Slide.astro";
---

<Slide title="Et si on utilisait...">
  <Card>
    <h2 class="fragment" data-fragment-index="1">... du cache ?</h2>
    <img
      data-fragment-index="1"
      class="fragment meme"
      src="https://media.tenor.com/Oc4nf8N08jIAAAAC/mind-blow-galaxy.gif"
      alt="meme mind blown"
    />
  </Card>
</Slide>

<style>
  img {
    height: 80px;
  }

  .meme {
    height: 100%;
    margin: 30px auto;
    border-radius: 8px;
  }

  h2 {
    text-align: left;
    font-size: 2rem;
    margin-bottom: 0;
  }
</style>
