<section data-background-image="/backgrounds/particles.jpeg">
  <div class="content">
    <h2>Ils en parlent</h2>
    <p>Frameworks JavaScript</p>

    <img
      src="/screenshots/screenshot-sveltekit.jpeg"
      alt="screenshot of sveltekit app on the edge"
    />
    <img
      class="fragment fade-in"
      src="/screenshots/screenshot-frameworks.jpeg"
      alt="screenshot of vercel templates for frameworks on the edge"
    />
    <img
      class="fragment fade-in"
      src="/screenshots/screenshot-qwik.jpeg"
      alt="screenshot of Qwik home page"
    />
  </div>
</section>

<style lang="scss">
  section {
    height: 100%;
  }

  .content {
    display: grid;
    grid-template: auto auto minmax(0, 1fr) / 100%;
    place-items: center;
    height: 100%;
  }

  p {
    font-size: 1.5rem;
  }

  img {
    grid-row: 3;
    grid-column: 1;
    height: 90%;
    box-shadow: var(--shadow-elevation-high);
    border-radius: 8px;

    &:nth-of-type(2) {
      transform: rotate(3deg);
    }

    &:nth-of-type(3) {
      transform: rotate(-1deg);
    }
  }
</style>
