---
import Slide from "../components/Slide.astro";
---

<Slide title="Ils en parlent" subtitle="Frameworks JavaScript">
  <div class="pictures">
    <img
      src="/screenshots/screenshot-sveltekit.jpeg"
      alt="screenshot of sveltekit app on the edge"
    />
    <img
      class="fragment fade-in"
      src="/screenshots/screenshot-frameworks.jpeg"
      alt="screenshot of vercel templates for frameworks on the edge"
    />
    <img
      class="fragment fade-in"
      src="/screenshots/screenshot-qwik.jpeg"
      alt="screenshot of Qwik home page"
    />
  </div>
</Slide>

<style lang="scss">
  .pictures {
    position: relative;
    height: 100%;
  }

  img {
    position: absolute;
    inset: 0;
    margin: auto;
    height: 90%;
    box-shadow: var(--shadow-elevation-high);
    border-radius: 8px;

    &:nth-of-type(2) {
      transform: rotate(2deg);
    }

    &:nth-of-type(3) {
      transform: rotate(-1deg);
    }
  }
</style>
