.wrapper {
  img {
    height: 0.7em;
    width: 0.7em;
  }

  h2 {
    font-size: 2.5rem;
  }

  hr {
    height: 2px;
    color: currentColor;
    border-radius: 2px;
    width: 70px;
    margin: 10px auto 30px;
  }
}
