<div>
  <slot />
</div>

<style>
  div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: hsla(0deg 0% 0% / 0.5);
    padding: 50px 150px;
    border-radius: 16px;
    box-shadow: var(--shadow-elevation-high),
      inset 1px 1px 0px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
  }
</style>
