<h1 class="main-title">
  <slot />
</h1>

<style lang="scss" is:global>
  h1.main-title {
    font-size: 5.5rem;
    line-height: 1;
    font-weight: normal;

    b {
      font-weight: bold;
    }

    small {
      font-size: 0.7em;
    }

    strong {
      font-weight: bold !important;
      font-size: .85em;
      
      line-height: 1.2;
      background-image: linear-gradient(
        35deg,
        hsl(36deg 100% 51%) 0%,
        hsl(43deg 100% 50%) 50%,
        hsl(54deg 100% 50%) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      filter: drop-shadow(0 0 10px hsla(45deg 100% 62% / 40%));

      &::before {
        content: "✨";
        margin: .1em;
      }
      &::after {
        content: "✨";
        margin: .1em;
      }
    }
  }
</style>
