---
import BrowserSlide from "../components/BrowserSlide.astro";
import Layout from "../layouts/Layout.astro";
import Intro from "../slides/intro/Intro.astro";
import IntroCloudProviders from "../slides/intro/IntroCloudProviders.astro";
import IntroFrameworks from "../slides/intro/IntroFrameworks.astro";
import ProjetDescription from "../slides/project/ProjetDescription.astro";
import ProjectDeployment from "../slides/project/ProjectDeployment.astro";
import HistoryOld from "../slides/history/HistoryOld.astro";
import HistorySpa from "../slides/history/HistorySpa.astro";
import HistorySsr from "../slides/history/HistorySsr.astro";
---

<Layout title="The future of the web is on the Edge">
  <main class="reveal">
    <div class="slides">
      <Intro />
      <IntroCloudProviders />
      <IntroFrameworks />

      <ProjetDescription />
      <BrowserSlide
        url="https://future-on-the-edge.vercel.app/app-history-ssr?name=Zenika"
      />
      <!-- <ProjectDeployment /> -->

      <HistoryOld />
      <BrowserSlide
        url="https://future-on-the-edge.vercel.app/app-history-old?name=Zenika"
      />

      <HistorySpa />
      <BrowserSlide
        url="https://future-on-the-edge.vercel.app/app-history-spa?name=Zenika"
      />

      <HistorySsr />
      <BrowserSlide
        url="https://future-on-the-edge.vercel.app/app-history-ssr?name=Zenika"
      />
    </div>
  </main>
</Layout>
