---
import BrowserSlide from "../components/BrowserSlide.astro";
import Layout from "../layouts/Layout.astro";
import Intro from "../slides/intro/Intro.astro";
import IntroCloudProviders from "../slides/intro/IntroCloudProviders.astro";
import IntroFrameworks from "../slides/intro/IntroFrameworks.astro";
import ProjetDescription from "../slides/project/ProjetDescription.astro";
import ProjectDeployment from "../slides/project/ProjectDeployment.astro";
import HistoryOld from "../slides/history/HistoryOld.astro";
import HistorySpa from "../slides/history/HistorySpa.astro";
import HistorySsr from "../slides/history/HistorySsr.astro";
import HistoryFuture from "../slides/history/HistoryFuture.astro";
import ProblemLambda from "../slides/problem/ProblemLambda.astro";
import ProblemSolutions from "../slides/problem/ProblemSolutions.astro";
import HistoryOtherFeatures from "../slides/history/HistoryOtherFeatures.astro";
import ProblemPerformanceTable from "../slides/problem/ProblemPerformanceTable.astro";
import ProblemGraph from "../slides/problem/ProblemGraph.astro";
import EdgeFunctionsTitle from "../slides/edge/EdgeFunctionsTitle.astro";
import EdgeNetwork from "../slides/edge/EdgeNetwork.astro";
import EdgeFunctionsAdvantages from "../slides/edge/EdgeFunctionsAdvantages.astro";
import EdgeFunctionsLimitations from "../slides/edge/EdgeFunctionsLimitations.astro";
import EdgeGraphs from "../slides/edge/EdgeGraphs.astro";
import ProblemLambdaSample from "../slides/problem/ProblemLambdaSample.astro";
import EdgeMoreOptions from "../slides/edge/EdgeMoreOptions.astro";
import CacheTitle from "../slides/cache/CacheTitle.astro";
import CacheSample from "../slides/cache/CacheSample.astro";
import CacheGraphs from "../slides/cache/CacheGraphs.astro";
---

<Layout title="The future of the web is on the Edge">
  <main class="reveal">
    <div class="slides">
      <Intro />
      <IntroCloudProviders />
      <IntroFrameworks />

      <ProjetDescription />
      <BrowserSlide
        url="https://future-on-the-edge.vercel.app/app-history-ssr?name=Zenika"
      />
      <!-- <ProjectDeployment /> -->

      <HistoryOld />
      <BrowserSlide
        url="https://future-on-the-edge.vercel.app/app-history-old?name=Zenika"
      />

      <HistorySpa />
      <BrowserSlide
        url="https://future-on-the-edge.vercel.app/app-history-spa?name=Zenika"
      />

      <HistorySsr />
      <BrowserSlide
        url="https://future-on-the-edge.vercel.app/app-history-ssr?name=Zenika"
      />

      <HistoryOtherFeatures />
      <HistoryFuture />

      <ProblemSolutions />
      <ProblemLambdaSample />
      <ProblemLambda />
      <ProblemPerformanceTable />
      <ProblemGraph />

      <EdgeFunctionsTitle />
      <EdgeNetwork />
      <EdgeFunctionsAdvantages />
      <EdgeFunctionsLimitations />
      <EdgeGraphs />
      <BrowserSlide
        url="https://future-on-the-edge.vercel.app/app-edge?name=Zenika&api=edge"
      />
      <EdgeMoreOptions />

      <CacheTitle />
      <CacheSample />
      <CacheGraphs />
      <BrowserSlide
        url="https://future-on-the-edge.vercel.app/app-edge?api=with-cache&name=Zenika"
      />
    </div>
  </main>
</Layout>
