---
import BrowserSlide from "../components/BrowserSlide.astro";
import Layout from "../layouts/Layout.astro";
import Aintro from "../slides/Aintro.astro";
import BcloudProviders from "../slides/BcloudProviders.astro";
import Cframeworks from "../slides/Cframeworks.astro";
import DprojetDescription from "../slides/DprojetDescription.astro";
import EhistoryOld from "../slides/EhistoryOld.astro";
import FhistorySpa from "../slides/FhistorySpa.astro";
import GhistorySsr from "../slides/GhistorySsr.astro";
import VercelNetwork from "../slides/VercelNetwork.astro";
---

<Layout title="The future of the web is on the Edge">
  <main class="reveal">
    <div class="slides">
      <Aintro />
      <BcloudProviders />
      <Cframeworks />
      <DprojetDescription />

      <BrowserSlide
        url="https://future-on-the-edge.vercel.app/app-history-ssr?name=Zenika"
      />
      <!-- <VercelNetwork /> -->

      <EhistoryOld />
      <BrowserSlide
        url="https://future-on-the-edge.vercel.app/app-history-old?name=Zenika"
      />

      <FhistorySpa />
      <BrowserSlide
        url="https://future-on-the-edge.vercel.app/app-history-spa?name=Zenika"
      />

      <GhistorySsr />
      <BrowserSlide
        url="https://future-on-the-edge.vercel.app/app-history-ssr?name=Zenika"
      />
    </div>
  </main>
</Layout>
