---
import Layout from "../layouts/Layout.astro";
import Aintro from "../slides/Aintro.astro";
import BcloudProviders from "../slides/BcloudProviders.astro";
import Cframeworks from "../slides/Cframeworks.astro";
import DprojetFilRouge from "../slides/DprojetFilRouge.astro";
---

<Layout title="The future of the web is on the Edge">
  <main class="reveal">
    <div class="slides">
      <Aintro />
      <BcloudProviders />
      <Cframeworks />
      <DprojetFilRouge />
    </div>
  </main>
</Layout>
