---
import Layout from "../layouts/Layout.astro";
import Aintro from "../slides/Aintro.astro";
import Bthing from "../slides/Bthing.astro";
---

<Layout title="The future of the web is on the Edge">
  <main class="reveal">
    <div class="slides">
      <Aintro />
      <Bthing />
    </div>
  </main>
</Layout>
